{
  "openapi": "3.1.0",
  "info": {
    "title": "Blob Yard API",
    "version": "1.0.0",
    "description": "The stable API for durable object storage and scoped access. Stored files do not expire when a transfer grant or public capability expires."
  },
  "servers": [
    {
      "url": "https://api.blobyard.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "health",
        "security": [],
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "excluded": "Service readiness probe has no user workflow."
        },
        "x-blobyard-mcp": {
          "excluded": "Service readiness probe has no agent workflow."
        }
      }
    },
    "/cli/device/start": {
      "post": {
        "operationId": "startDeviceLogin",
        "security": [],
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartDeviceLoginSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["login"]
        },
        "x-blobyard-mcp": {
          "excluded": "MCP reuses an approved CLI session and never handles authentication secrets."
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartDeviceLoginRequest"
              }
            }
          }
        }
      }
    },
    "/cli/device/poll": {
      "post": {
        "operationId": "pollDeviceLogin",
        "security": [],
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PollDeviceLoginSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["login"]
        },
        "x-blobyard-mcp": {
          "excluded": "MCP reuses an approved CLI session and never handles authentication secrets."
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PollDeviceLoginRequest"
              }
            }
          }
        }
      }
    },
    "/cli/token/refresh": {
      "post": {
        "operationId": "refreshCliSession",
        "security": [],
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshCliSessionSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["login"]
        },
        "x-blobyard-mcp": {
          "excluded": "The CLI host rotates its session outside model context."
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshCliSessionRequest"
              }
            }
          }
        }
      }
    },
    "/cli/logout": {
      "post": {
        "operationId": "logoutCliSession",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogoutCliSessionSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["logout"]
        },
        "x-blobyard-mcp": {
          "excluded": "The CLI host owns session lifecycle outside model context."
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogoutCliSessionRequest"
              }
            }
          }
        }
      }
    },
    "/cli/whoami": {
      "get": {
        "operationId": "whoAmI",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhoAmISuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["whoami"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_whoami"
        }
      }
    },
    "/workspaces": {
      "get": {
        "operationId": "listWorkspaces",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWorkspacesSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["workspaces", "list"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_list_workspaces"
        },
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Cursor"
            }
          }
        ]
      },
      "post": {
        "operationId": "createWorkspace",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWorkspaceSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["workspaces", "create"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_create_workspace"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkspaceRequest"
              }
            }
          }
        }
      }
    },
    "/projects": {
      "get": {
        "operationId": "listProjects",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListProjectsSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["projects", "list"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_list_projects"
        },
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Cursor"
            }
          },
          {
            "in": "query",
            "name": "workspace",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Slug"
            }
          }
        ]
      },
      "post": {
        "operationId": "createProject",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProjectSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["projects", "create"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_create_project"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectRequest"
              }
            }
          }
        }
      }
    },
    "/ci/github/oidc/exchange": {
      "post": {
        "operationId": "exchangeGitHubOidc",
        "security": [
          {
            "githubOidc": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeGitHubOidcSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "excluded": "GitHub Actions exchanges its assertion directly."
        },
        "x-blobyard-mcp": {
          "excluded": "GitHub Actions exchanges its assertion directly."
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExchangeGitHubOidcRequest"
              }
            }
          }
        }
      }
    },
    "/uploads/request": {
      "post": {
        "operationId": "requestUpload",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestUploadSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["upload"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_upload_file"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestUploadRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Required retry-stable upload request key.",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ]
      }
    },
    "/uploads/parts/request": {
      "post": {
        "operationId": "requestUploadParts",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestUploadPartsSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["upload"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_upload_file"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestUploadPartsRequest"
              }
            }
          }
        }
      }
    },
    "/uploads/complete": {
      "post": {
        "operationId": "completeUpload",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompleteUploadSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["upload"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_upload_file"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompleteUploadRequest"
              }
            }
          }
        }
      }
    },
    "/uploads/abort": {
      "post": {
        "operationId": "abortUpload",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbortUploadSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["upload"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_upload_file"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AbortUploadRequest"
              }
            }
          }
        }
      }
    },
    "/uploads/status": {
      "get": {
        "operationId": "getUploadStatus",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUploadStatusSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["upload"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_upload_file"
        },
        "parameters": [
          {
            "in": "query",
            "name": "uploadId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          }
        ]
      }
    },
    "/objects": {
      "get": {
        "operationId": "listObjects",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListObjectsSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["ls"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_list_objects"
        },
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Cursor"
            }
          },
          {
            "in": "query",
            "name": "prefix",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Optional logical path prefix."
            }
          },
          {
            "in": "query",
            "name": "project",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Slug"
            }
          },
          {
            "in": "query",
            "name": "versions",
            "required": true,
            "schema": {
              "type": "boolean",
              "description": "Include immutable historical versions."
            }
          },
          {
            "in": "query",
            "name": "workspace",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Slug"
            }
          }
        ]
      },
      "delete": {
        "operationId": "deleteObject",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteObjectSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["rm"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_delete_object"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteObjectRequest"
              }
            }
          }
        }
      }
    },
    "/downloads/request": {
      "post": {
        "operationId": "requestDownload",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestDownloadSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["download"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_download_file"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDownloadRequest"
              }
            }
          }
        }
      }
    },
    "/shares": {
      "get": {
        "operationId": "listShares",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSharesSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["shares", "list"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_list_shares"
        },
        "parameters": [
          {
            "in": "query",
            "name": "workspace",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Slug"
            }
          }
        ]
      },
      "post": {
        "operationId": "createShare",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateShareSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["share"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_create_share"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateShareRequest"
              }
            }
          }
        }
      }
    },
    "/shares/resolve": {
      "get": {
        "operationId": "resolveShare",
        "security": [],
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResolveShareSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "excluded": "The public capability URL resolves this operation."
        },
        "x-blobyard-mcp": {
          "excluded": "The public capability URL resolves this operation."
        },
        "parameters": [
          {
            "in": "query",
            "name": "token",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/CapabilityToken"
            }
          }
        ]
      }
    },
    "/shares/download": {
      "post": {
        "operationId": "downloadShare",
        "security": [],
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadShareSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "excluded": "The public capability URL downloads this object."
        },
        "x-blobyard-mcp": {
          "excluded": "The public capability URL downloads this object."
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DownloadShareRequest"
              }
            }
          }
        }
      }
    },
    "/shares/revoke": {
      "post": {
        "operationId": "revokeShare",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevokeShareSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["shares", "revoke"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_revoke_share"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeShareRequest"
              }
            }
          }
        }
      }
    },
    "/previews": {
      "get": {
        "operationId": "listPreviews",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPreviewsSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["previews", "list"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_list_previews"
        },
        "parameters": [
          {
            "in": "query",
            "name": "project",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Slug"
            }
          },
          {
            "in": "query",
            "name": "workspace",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Slug"
            }
          }
        ]
      },
      "post": {
        "operationId": "createPreview",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePreviewSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["preview"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_create_preview"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePreviewRequest"
              }
            }
          }
        }
      }
    },
    "/previews/revoke": {
      "post": {
        "operationId": "revokePreview",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevokePreviewSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["previews", "revoke"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_revoke_preview"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokePreviewRequest"
              }
            }
          }
        }
      }
    },
    "/yards": {
      "get": {
        "operationId": "listWebYards",
        "description": "Lists active Web Yards for one workspace project.",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWebYardsSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["yard", "list"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_list_web_yards"
        },
        "parameters": [
          {
            "in": "query",
            "name": "project",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Slug"
            }
          },
          {
            "in": "query",
            "name": "workspace",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Slug"
            }
          }
        ]
      }
    },
    "/yards/deploys": {
      "get": {
        "operationId": "listWebYardDeploys",
        "description": "Lists the current deploy followed by retained deploy history.",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWebYardDeploysSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["yard", "history"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_list_yard_deploys"
        },
        "parameters": [
          {
            "in": "query",
            "name": "yardId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          }
        ]
      }
    },
    "/yards/deploys/start": {
      "post": {
        "operationId": "startWebYardDeploy",
        "description": "Creates or reuses a Web Yard and reserves a manifest root for a public deploy.",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartWebYardDeploySuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["deploy"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_deploy_web_yard"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartWebYardDeployRequest"
              }
            }
          }
        }
      }
    },
    "/yards/deploys/finalise": {
      "post": {
        "operationId": "finaliseWebYardDeploy",
        "description": "Snapshots a ready manifest and promotes it when no newer deploy has succeeded.",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinaliseWebYardDeploySuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["deploy"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_deploy_web_yard"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FinaliseWebYardDeployRequest"
              }
            }
          }
        }
      }
    },
    "/yards/deploys/fail": {
      "post": {
        "operationId": "failWebYardDeploy",
        "description": "Marks an incomplete deploy as failed and schedules its manifest for cleanup.",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailWebYardDeploySuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["deploy"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_deploy_web_yard"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FailWebYardDeployRequest"
              }
            }
          }
        }
      }
    },
    "/yards/rollback": {
      "post": {
        "operationId": "rollbackWebYard",
        "description": "Promotes a retained successful deploy. Workspace administrator access is required.",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RollbackWebYardSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["yard", "rollback"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_rollback_web_yard"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RollbackWebYardRequest"
              }
            }
          }
        }
      }
    },
    "/yards/delete": {
      "post": {
        "operationId": "deleteWebYard",
        "description": "Deletes a Web Yard and schedules retained manifest objects for cleanup. Workspace administrator access is required.",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteWebYardSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["yard", "delete"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_delete_web_yard"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteWebYardRequest"
              }
            }
          }
        }
      }
    },
    "/inboxes": {
      "get": {
        "operationId": "listInboxes",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListInboxesSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["inbox", "list"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_list_inboxes"
        },
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Cursor"
            }
          },
          {
            "in": "query",
            "name": "project",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Slug"
            }
          },
          {
            "in": "query",
            "name": "workspace",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Slug"
            }
          }
        ]
      },
      "post": {
        "operationId": "createInbox",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInboxSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["inbox", "create"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_create_inbox"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInboxRequest"
              }
            }
          }
        }
      }
    },
    "/inboxes/resolve": {
      "get": {
        "operationId": "resolveInbox",
        "security": [],
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResolveInboxSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "excluded": "The public capability URL resolves this operation."
        },
        "x-blobyard-mcp": {
          "excluded": "The public capability URL resolves this operation."
        },
        "parameters": [
          {
            "in": "query",
            "name": "token",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/CapabilityToken"
            }
          }
        ]
      }
    },
    "/inboxes/revoke": {
      "post": {
        "operationId": "revokeInbox",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevokeInboxSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["inbox", "revoke"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_revoke_inbox"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeInboxRequest"
              }
            }
          }
        }
      }
    },
    "/retention": {
      "get": {
        "operationId": "getRetention",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRetentionSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["retention", "show"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_get_retention"
        },
        "parameters": [
          {
            "in": "query",
            "name": "project",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Slug"
            }
          },
          {
            "in": "query",
            "name": "workspace",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Slug"
            }
          }
        ]
      },
      "put": {
        "operationId": "setRetention",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetRetentionSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["retention", "set"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_set_retention"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetRetentionRequest"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "clearRetention",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClearRetentionSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["retention", "clear"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_clear_retention"
        },
        "parameters": [
          {
            "in": "query",
            "name": "project",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Slug"
            }
          },
          {
            "in": "query",
            "name": "workspace",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Slug"
            }
          }
        ]
      }
    },
    "/retention/overview": {
      "get": {
        "operationId": "getRetentionOverview",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRetentionOverviewSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["retention", "overview"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_get_retention_overview"
        },
        "parameters": [
          {
            "in": "query",
            "name": "project",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Slug"
            }
          },
          {
            "in": "query",
            "name": "workspace",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Slug"
            }
          }
        ]
      }
    },
    "/audit": {
      "get": {
        "operationId": "listAuditEvents",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAuditEventsSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["audit", "list"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_list_audit"
        },
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Cursor"
            }
          },
          {
            "in": "query",
            "name": "workspace",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Slug"
            }
          }
        ]
      }
    },
    "/members": {
      "get": {
        "operationId": "listMembers",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMembersSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["members", "list"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_list_members"
        },
        "parameters": [
          {
            "in": "query",
            "name": "workspace",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Slug"
            }
          }
        ]
      }
    },
    "/members/invites": {
      "get": {
        "operationId": "listInvites",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListInvitesSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["invites", "list"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_list_invites"
        },
        "parameters": [
          {
            "in": "query",
            "name": "workspace",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Slug"
            }
          }
        ]
      },
      "post": {
        "operationId": "createInvite",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInviteSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["invites", "create"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_create_invite"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInviteRequest"
              }
            }
          }
        }
      }
    },
    "/members/invites/revoke": {
      "post": {
        "operationId": "revokeInvite",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevokeInviteSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["invites", "revoke"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_revoke_invite"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeInviteRequest"
              }
            }
          }
        }
      }
    },
    "/members/role": {
      "post": {
        "operationId": "updateMemberRole",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateMemberRoleSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["members", "role"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_update_member_role"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMemberRoleRequest"
              }
            }
          }
        }
      }
    },
    "/members/remove": {
      "post": {
        "operationId": "removeMember",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoveMemberSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["members", "remove"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_remove_member"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveMemberRequest"
              }
            }
          }
        }
      }
    },
    "/api-tokens": {
      "get": {
        "operationId": "listApiTokens",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListApiTokensSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["tokens", "list"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_list_api_tokens"
        }
      },
      "post": {
        "operationId": "createApiToken",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateApiTokenSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["tokens", "create"]
        },
        "x-blobyard-mcp": {
          "excluded": "MCP must not return a newly created bearer credential to model context."
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiTokenRequest"
              }
            }
          }
        }
      }
    },
    "/api-tokens/revoke": {
      "post": {
        "operationId": "revokeApiToken",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevokeApiTokenSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["tokens", "revoke"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_revoke_api_token"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeApiTokenRequest"
              }
            }
          }
        }
      }
    },
    "/ci/trusts": {
      "get": {
        "operationId": "listCiTrusts",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCiTrustsSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["trusts", "list"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_list_ci_trusts"
        },
        "parameters": [
          {
            "in": "query",
            "name": "workspace",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Slug"
            }
          }
        ]
      },
      "post": {
        "operationId": "createCiTrust",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCiTrustSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["trusts", "create"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_create_ci_trust"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCiTrustRequest"
              }
            }
          }
        }
      }
    },
    "/ci/trusts/revoke": {
      "post": {
        "operationId": "revokeCiTrust",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevokeCiTrustSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["trusts", "revoke"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_revoke_ci_trust"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeCiTrustRequest"
              }
            }
          }
        }
      }
    },
    "/cli/sessions": {
      "get": {
        "operationId": "listCliSessions",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCliSessionsSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["sessions", "list"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_list_cli_sessions"
        }
      }
    },
    "/cli/sessions/revoke": {
      "post": {
        "operationId": "revokeCliSession",
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevokeCliSessionSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["sessions", "revoke"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_revoke_cli_session"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeCliSessionRequest"
              }
            }
          }
        }
      }
    },
    "/secrets": {
      "post": {
        "operationId": "createOneTimeSecret",
        "security": [],
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOneTimeSecretSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "excluded": "Secret material and encryption or decryption must remain in a human-controlled browser or client and must not enter MCP model context."
        },
        "x-blobyard-mcp": {
          "excluded": "Secret material and encryption or decryption must remain in a human-controlled browser or client and must not enter MCP model context."
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOneTimeSecretRequest"
              }
            }
          }
        }
      }
    },
    "/secrets/redeem": {
      "post": {
        "operationId": "redeemOneTimeSecret",
        "security": [],
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedeemOneTimeSecretSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "excluded": "Secret material and encryption or decryption must remain in a human-controlled browser or client and must not enter MCP model context."
        },
        "x-blobyard-mcp": {
          "excluded": "Secret material and encryption or decryption must remain in a human-controlled browser or client and must not enter MCP model context."
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RedeemOneTimeSecretRequest"
              }
            }
          }
        }
      }
    },
    "/workspaces/rename": {
      "post": {
        "operationId": "renameWorkspace",
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["workspaces", "rename"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_rename_workspace"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenameWorkspaceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RenameWorkspaceSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/billing": {
      "get": {
        "operationId": "getBilling",
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["billing", "show"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_get_billing"
        },
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBillingSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/billing/checkout": {
      "post": {
        "operationId": "createBillingCheckout",
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["billing", "checkout"]
        },
        "x-blobyard-mcp": {
          "excluded": "Returns a Stripe hosted-session bearer capability URL that must not enter model context."
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBillingCheckoutRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Optional retry-stable request key.",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]{1,128}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBillingCheckoutSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/billing/portal": {
      "post": {
        "operationId": "createBillingPortal",
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["billing", "portal"]
        },
        "x-blobyard-mcp": {
          "excluded": "Returns a Stripe hosted-session bearer capability URL that must not enter model context."
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBillingPortalRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Optional retry-stable request key.",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]{1,128}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBillingPortalSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/billing/storage/checkout": {
      "post": {
        "operationId": "createStorageCheckout",
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["billing", "storage", "checkout"]
        },
        "x-blobyard-mcp": {
          "excluded": "Returns a Stripe hosted-session bearer capability URL that must not enter model context."
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStorageCheckoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateStorageCheckoutSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/billing/storage/update": {
      "post": {
        "operationId": "createStorageUpdate",
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["billing", "storage", "update"]
        },
        "x-blobyard-mcp": {
          "excluded": "Returns a Stripe hosted-session bearer capability URL that must not enter model context."
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStorageUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateStorageUpdateSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/billing/subscription/update": {
      "post": {
        "operationId": "createBillingSubscriptionUpdate",
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["billing", "update"]
        },
        "x-blobyard-mcp": {
          "excluded": "Returns a Stripe hosted-session bearer capability URL that must not enter model context."
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBillingSubscriptionUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBillingSubscriptionUpdateSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/account/exports": {
      "get": {
        "operationId": "getAccountExport",
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["account", "export", "show"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_get_account_export"
        },
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountExportSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      },
      "post": {
        "operationId": "requestAccountExport",
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["account", "export", "request"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_request_account_export"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestAccountExportRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Optional retry-stable request key.",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]{1,128}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestAccountExportSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/account/exports/download": {
      "post": {
        "operationId": "downloadAccountExport",
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["account", "export", "download"]
        },
        "x-blobyard-mcp": {
          "excluded": "Signed export URLs must not enter model context. Use the CLI or SDK."
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DownloadAccountExportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadAccountExportSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/account/deletion": {
      "get": {
        "operationId": "getAccountDeletion",
        "description": "Read deletion state with an active account credential or the deletion recovery capability returned by prepare. The recovery capability expires with the deletion tombstone.",
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["account", "delete", "show"]
        },
        "x-blobyard-mcp": {
          "tool": "blobyard_get_account_deletion"
        },
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountDeletionSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/account/deletion/prepare": {
      "post": {
        "operationId": "prepareAccountDeletion",
        "description": "Issue short-lived deletion confirmation and recovery capabilities. A later preparation supersedes the earlier confirmation, so replaying its idempotency key returns a conflict instead of a revoked capability.",
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["account", "delete", "prepare"]
        },
        "x-blobyard-mcp": {
          "excluded": "Deletion confirmation and recovery capabilities must not enter model context. Use the CLI or SDK."
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrepareAccountDeletionRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Optional retry-stable request key.",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]{1,128}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrepareAccountDeletionSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/account/deletion/complete": {
      "post": {
        "operationId": "completeAccountDeletion",
        "description": "Consume the one-time confirmation and queue deletion. A deletion recovery capability may authenticate an idempotent replay after ordinary credentials are revoked.",
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["account", "delete", "complete"]
        },
        "x-blobyard-mcp": {
          "excluded": "Destructive completion requires explicit human-owned confirmation outside model context."
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompleteAccountDeletionRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Optional retry-stable request key.",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9._:-]{1,128}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompleteAccountDeletionSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/account/deletion/retry": {
      "post": {
        "operationId": "retryAccountDeletion",
        "description": "Retry failed cleanup with an active account credential or the unexpired deletion recovery capability.",
        "x-blobyard-sdk": true,
        "x-blobyard-cli": {
          "command": ["account", "delete", "retry"]
        },
        "x-blobyard-mcp": {
          "excluded": "Destructive retry requires explicit human-owned confirmation outside model context."
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetryAccountDeletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetryAccountDeletionSuccessEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "githubOidc": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "GitHub OIDC JWT"
      }
    },
    "responses": {
      "ApiError": {
        "description": "The request was rejected.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiErrorEnvelope"
            }
          }
        }
      }
    },
    "schemas": {
      "Identifier": {
        "type": "string",
        "description": "Stable resource identifier.",
        "minLength": 1,
        "maxLength": 256
      },
      "Cursor": {
        "type": "string",
        "description": "Opaque continuation cursor.",
        "minLength": 1,
        "maxLength": 1024
      },
      "Slug": {
        "type": "string",
        "description": "Lowercase Blob Yard resource slug.",
        "pattern": "^[a-z0-9](?:[a-z0-9-]{0,62}[a-z0-9])?$"
      },
      "IsoTimestamp": {
        "type": "string",
        "description": "RFC 3339 timestamp.",
        "format": "date-time"
      },
      "UnixMilliseconds": {
        "type": "integer",
        "description": "Unix timestamp in milliseconds.",
        "minimum": 0
      },
      "BlobyardUri": {
        "type": "string",
        "description": "Canonical byd:// object URI.",
        "pattern": "^byd://"
      },
      "CapabilityToken": {
        "type": "string",
        "description": "Opaque capability returned once.",
        "minLength": 43
      },
      "Url": {
        "type": "string",
        "description": "Absolute HTTPS URL.",
        "format": "uri",
        "pattern": "^https://"
      },
      "TransferUrl": {
        "type": "string",
        "description": "Absolute HTTP or HTTPS URL for a short-lived byte-transfer capability.",
        "format": "uri",
        "pattern": "^https?://"
      },
      "EmptyResult": {
        "type": "object",
        "additionalProperties": false,
        "properties": {},
        "required": []
      },
      "HealthResult": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "status": {
            "type": "string",
            "description": "Service readiness state.",
            "const": "ok"
          },
          "version": {
            "type": "string",
            "description": "Build version."
          }
        },
        "required": ["status", "version"]
      },
      "ExchangeBootstrapTokenResult": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "accessToken": {
            "$ref": "#/components/schemas/CapabilityToken"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Granted local operation scope."
            },
            "description": "Scopes granted to the local operator token."
          },
          "webYardOrigin": {
            "type": "string",
            "format": "uri",
            "description": "Trusted root origin whose first-level subdomains serve public Web Yards."
          },
          "workspace": {
            "$ref": "#/components/schemas/Slug"
          }
        },
        "required": ["accessToken", "scopes", "webYardOrigin", "workspace"]
      },
      "WorkspaceSummary": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Identifier"
          },
          "name": {
            "type": "string",
            "description": "Workspace display name."
          },
          "slug": {
            "$ref": "#/components/schemas/Slug"
          }
        },
        "required": ["id", "name", "slug"]
      },
      "WorkspacePage": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkspaceSummary"
            },
            "description": "Resources in this page."
          },
          "nextCursor": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Cursor"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": ["items", "nextCursor"]
      },
      "ProjectSummary": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Identifier"
          },
          "name": {
            "type": "string",
            "description": "Project display name."
          },
          "slug": {
            "$ref": "#/components/schemas/Slug"
          },
          "workspaceSlug": {
            "$ref": "#/components/schemas/Slug"
          }
        },
        "required": ["id", "name", "slug", "workspaceSlug"]
      },
      "ProjectPage": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectSummary"
            },
            "description": "Resources in this page."
          },
          "nextCursor": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Cursor"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": ["items", "nextCursor"]
      },
      "TokenPair": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "accessToken": {
            "$ref": "#/components/schemas/CapabilityToken"
          },
          "expiresInSeconds": {
            "type": "integer",
            "description": "Access token lifetime.",
            "minimum": 1
          },
          "refreshToken": {
            "$ref": "#/components/schemas/CapabilityToken"
          }
        },
        "required": ["accessToken", "expiresInSeconds", "refreshToken"]
      },
      "DeviceStartResult": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "deviceCode": {
            "$ref": "#/components/schemas/CapabilityToken"
          },
          "expiresAt": {
            "$ref": "#/components/schemas/IsoTimestamp"
          },
          "pollIntervalSeconds": {
            "type": "integer",
            "description": "Minimum polling interval.",
            "minimum": 1
          },
          "userCode": {
            "type": "string",
            "description": "Code shown for browser approval."
          },
          "verificationUri": {
            "$ref": "#/components/schemas/Url"
          }
        },
        "required": [
          "deviceCode",
          "expiresAt",
          "pollIntervalSeconds",
          "userCode",
          "verificationUri"
        ]
      },
      "DevicePollResult": {
        "oneOf": [
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "status": {
                "type": "string",
                "description": "Authorization state.",
                "enum": ["pending", "slow_down", "denied", "expired"]
              }
            },
            "required": ["status"]
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "status": {
                "type": "string",
                "description": "Completed authorization state.",
                "const": "approved"
              },
              "tokens": {
                "$ref": "#/components/schemas/TokenPair"
              }
            },
            "required": ["status", "tokens"]
          }
        ]
      },
      "WhoAmIResult": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "defaultWorkspace": {
            "$ref": "#/components/schemas/WorkspaceSummary"
          },
          "displayName": {
            "type": "string",
            "description": "Safe principal label."
          },
          "email": {
            "type": "string",
            "description": "Verified user email, present for user credentials.",
            "format": "email"
          },
          "principalId": {
            "$ref": "#/components/schemas/Identifier"
          },
          "principalType": {
            "type": "string",
            "description": "Principal class.",
            "enum": ["cli", "ci"]
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Granted scope."
            },
            "description": "Granted scopes."
          }
        },
        "required": ["defaultWorkspace", "displayName", "principalId", "principalType", "scopes"]
      },
      "MachineTokenResult": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "accessToken": {
            "$ref": "#/components/schemas/CapabilityToken"
          },
          "expiresInSeconds": {
            "type": "integer",
            "description": "Token lifetime.",
            "minimum": 1
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Granted scope."
            },
            "description": "Granted scopes."
          }
        },
        "required": ["accessToken", "expiresInSeconds", "scopes"]
      },
      "SignedHeader": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "description": "HTTP header name."
          },
          "value": {
            "type": "string",
            "description": "Signed header value."
          }
        },
        "required": ["name", "value"]
      },
      "UploadPartGrant": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "partNumber": {
            "type": "integer",
            "description": "Positive part number.",
            "minimum": 1
          },
          "uploadUrl": {
            "$ref": "#/components/schemas/TransferUrl"
          }
        },
        "required": ["partNumber", "uploadUrl"]
      },
      "RequestUploadResult": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "expiresAt": {
            "$ref": "#/components/schemas/IsoTimestamp"
          },
          "headers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SignedHeader"
            },
            "description": "Required upload headers."
          },
          "partSizeBytes": {
            "anyOf": [
              {
                "type": "integer",
                "description": "Multipart part size.",
                "minimum": 1
              },
              {
                "type": "null"
              }
            ]
          },
          "strategy": {
            "type": "string",
            "description": "Upload strategy.",
            "enum": ["single", "multipart"]
          },
          "uploadId": {
            "$ref": "#/components/schemas/Identifier"
          },
          "uploadUrl": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TransferUrl"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": ["expiresAt", "headers", "partSizeBytes", "strategy", "uploadId", "uploadUrl"]
      },
      "RequestUploadPartsResult": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "expiresAt": {
            "$ref": "#/components/schemas/IsoTimestamp"
          },
          "parts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UploadPartGrant"
            },
            "description": "Signed part grants."
          }
        },
        "required": ["expiresAt", "parts"]
      },
      "CompleteUploadResult": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "checksumSha256": {
            "type": "string",
            "description": "Verified SHA-256 digest.",
            "pattern": "^[a-f0-9]{64}$"
          },
          "sizeBytes": {
            "type": "integer",
            "description": "Verified object bytes.",
            "minimum": 0
          },
          "uri": {
            "$ref": "#/components/schemas/BlobyardUri"
          }
        },
        "required": ["checksumSha256", "sizeBytes", "uri"]
      },
      "UploadStatusResult": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "completedParts": {
            "type": "array",
            "items": {
              "type": "integer",
              "description": "Completed part number.",
              "minimum": 1
            },
            "description": "Completed parts."
          },
          "state": {
            "type": "string",
            "description": "Upload lifecycle state.",
            "enum": [
              "requested",
              "uploading",
              "completing",
              "complete",
              "aborted",
              "expired",
              "failed"
            ]
          }
        },
        "required": ["completedParts", "state"]
      },
      "DownloadResult": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "checksumSha256": {
            "type": "string",
            "description": "Expected SHA-256 digest.",
            "pattern": "^[a-f0-9]{64}$"
          },
          "downloadUrl": {
            "$ref": "#/components/schemas/TransferUrl"
          },
          "expiresAt": {
            "$ref": "#/components/schemas/IsoTimestamp"
          },
          "filename": {
            "type": "string",
            "description": "Download filename."
          },
          "sizeBytes": {
            "type": "integer",
            "description": "Expected bytes.",
            "minimum": 0
          }
        },
        "required": ["checksumSha256", "downloadUrl", "expiresAt", "filename", "sizeBytes"]
      },
      "ObjectSummary": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "availability": {
            "type": "string",
            "description": "Current object-version availability.",
            "enum": ["available", "deleted", "pending", "unavailable"]
          },
          "createdAt": {
            "$ref": "#/components/schemas/IsoTimestamp"
          },
          "filename": {
            "type": "string",
            "description": "Original safe filename."
          },
          "sizeBytes": {
            "type": "integer",
            "description": "Object bytes.",
            "minimum": 0
          },
          "source": {
            "type": "string",
            "description": "Object ingestion source.",
            "enum": ["ci", "cli", "inbox", "preview", "web"]
          },
          "uri": {
            "$ref": "#/components/schemas/BlobyardUri"
          }
        },
        "required": ["availability", "createdAt", "filename", "sizeBytes", "source", "uri"]
      },
      "ObjectPage": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ObjectSummary"
            },
            "description": "Resources in this page."
          },
          "nextCursor": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Cursor"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": ["items", "nextCursor"]
      },
      "DeleteObjectResult": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "deleted": {
            "type": "boolean",
            "description": "The object is now deleted.",
            "const": true
          },
          "uri": {
            "$ref": "#/components/schemas/BlobyardUri"
          }
        },
        "required": ["deleted", "uri"]
      },
      "CreateShareResult": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "expiresAt": {
            "$ref": "#/components/schemas/IsoTimestamp"
          },
          "id": {
            "$ref": "#/components/schemas/Identifier"
          },
          "notificationStatus": {
            "type": "string",
            "description": "Notification capture or delivery result.",
            "enum": ["captured", "deduplicated", "failed", "not_requested", "queued"]
          },
          "shareUrl": {
            "$ref": "#/components/schemas/Url"
          }
        },
        "required": ["expiresAt", "id", "notificationStatus", "shareUrl"]
      },
      "ShareSummary": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "consumedCount": {
            "type": "integer",
            "description": "Completed downloads.",
            "minimum": 0
          },
          "expiresAt": {
            "$ref": "#/components/schemas/IsoTimestamp"
          },
          "id": {
            "$ref": "#/components/schemas/Identifier"
          },
          "maximumDownloads": {
            "anyOf": [
              {
                "type": "integer",
                "description": "Maximum downloads.",
                "minimum": 1
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "type": "string",
            "description": "Share lifecycle state.",
            "enum": ["active", "expired", "exhausted", "revoked", "unavailable"]
          }
        },
        "required": ["consumedCount", "expiresAt", "id", "maximumDownloads", "status"]
      },
      "SharePage": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShareSummary"
            },
            "description": "Resources in this page."
          },
          "nextCursor": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Cursor"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": ["items", "nextCursor"]
      },
      "ShareMetadata": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "contentTypeClass": {
            "type": "string",
            "description": "Coarse content class."
          },
          "downloadAvailable": {
            "type": "boolean",
            "description": "Whether another download is available."
          },
          "expiresAt": {
            "$ref": "#/components/schemas/IsoTimestamp"
          },
          "filename": {
            "type": "string",
            "description": "Shared filename."
          },
          "sizeBytes": {
            "type": "integer",
            "description": "Object bytes.",
            "minimum": 0
          }
        },
        "required": ["contentTypeClass", "downloadAvailable", "expiresAt", "filename", "sizeBytes"]
      },
      "CreatePreviewResult": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "expiresAt": {
            "$ref": "#/components/schemas/IsoTimestamp"
          },
          "id": {
            "$ref": "#/components/schemas/Identifier"
          },
          "previewUrl": {
            "$ref": "#/components/schemas/Url"
          }
        },
        "required": ["expiresAt", "id", "previewUrl"]
      },
      "PreviewSummary": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "createdAt": {
            "$ref": "#/components/schemas/IsoTimestamp"
          },
          "expiresAt": {
            "$ref": "#/components/schemas/IsoTimestamp"
          },
          "id": {
            "$ref": "#/components/schemas/Identifier"
          },
          "status": {
            "type": "string",
            "description": "Preview lifecycle state.",
            "enum": ["active", "expired", "exhausted", "revoked"]
          }
        },
        "required": ["createdAt", "expiresAt", "id", "status"]
      },
      "PreviewPage": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PreviewSummary"
            },
            "description": "Resources in this page."
          },
          "nextCursor": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Cursor"
              },
              {
[...]
